* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.505);
}
body {
  display: flex;
  justify-content: center;
}
.layoutPage {
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  height: 800;
  /* border: 2px solid gray; */
  justify-content: center;
  background-color: inherit;
  width: 100%;
}
.loginDiv {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 400px;
  padding: 20px;
  border: 2px solid #778d45;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 25%;
  box-shadow: 6px 3px 3px rgba(47, 255, 54, 0.551);
  gap: 30px;
}
.buttonPalyNow {
  background-color: rgba(47, 255, 54, 0.784);
  padding: 10px;
}
.signIn {
  color: rgb(47, 255, 54);
  background-color: transparent;
  justify-content: center;
}
.forgrtPass {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: transparent;
}
.inputUserName {
  padding: 5px;
  color: green;
  font-size: 16px;
  text-transform: uppercase;

}
.inputPasswrod {
  padding: 5px;
  color: green;
  font-size: 16px;
}
.linkPassword {
  color: rgb(174, 171, 171);
  text-decoration: none;
  background-color: transparent;
}
.linkSignUP {
  color: rgb(47, 255, 54);
  text-decoration: none;
  background-color: transparent;
}

.mainDivCard {
  width: 600px;
  height: 600px;
  padding: 25px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: rgba(0, 0, 0, 0.505);
  gap: 40px;
  border-radius: 20px;
  border: 2px solid rgba(47, 255, 54, 0.497);
  justify-content: center;
  align-items: center;
}
.img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 3px 2px 2px rgba(47, 255, 54, 0.497);
   
}
 
.playerName {
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgb(47, 255, 54);
  font-size: 20px;
  background-color: transparent;
  margin-bottom: 5px;
  text-transform: capitalize;
}
span {
  color: white;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}
.gameName{
  color: rgb(47, 255, 54);
  background-color: transparent;
  justify-content: center;
}

#userNamef::placeholder {
  color: red;
  opacity: 0.8;  
 
}

#counter{
  color: white;
  background-color: transparent;
  
}
#passwordPlaceHolder::placeholder{
  color: red;
  opacity: 0.8;
  text-transform: uppercase;
}